---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1> Lab 7.5 </h1>

<div x-data ="{hello_world: $fetchjson('https://dummyjson.com/products/1', jsonItem='thumbnail')}"> 
<img alt="thumbnail" x-bind:src="hello_world"/>
</div>

<div x-data ="{hello_moon: $fetchjson('https://dummyjson.com/products/1', jsonItem='images[2]')}"> 
<img alt="images[2]" x-bind:src="hello_moon"/>
</div>